@use '../abstracts/' as *;

.contact {
 // min-height: 30rem;
 //  padding-top: 10rem;
 //  padding-bottom: 10rem;

 &__title {
  margin-bottom: 4rem;
  text-align: center;
 }

 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 40rem;

  @include breakpoint-up(large) {
   max-width: 48rem;
  }
 }

 &__form-control {
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
 }

 input[type='text'],
 input[type='email'],
 textarea {
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: var(--border-radius);
  border: none;

  &:focus {
   outline: 1px solid var(--bg-color-dark);
  }
 }

 textarea {
  margin-bottom: 2rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
 }

 input[type='submit'] {
  width: 50%;
  margin: 0 auto;
  border: none;
 }

 &__error {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  color: var(--error-red);
 }

 &__form-control.error {
  outline: 1px solid var(--error-red);
 }
}
